$calendar-secondary: theme('colors.color-calendar-secondary');
$calendar-primary: theme('colors.color-calendar-primary');
$regular-text: theme('colors.color-text-primary');

.react-calendar {
  width: 20rem;
  border-radius: 0.5rem;
  background-color: $calendar-primary;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: inherit;

  &__month-view {
    &__days {
      display: grid !important; /* Overwriting styles of the react-calendar library */
      grid-template-columns: repeat(7, calc((100% - 2.625rem) / 7));
      grid-gap: 0.25rem;
    }
    &__weekdays {
      display: none;

      &__weekday {
        padding: 0;
      }
    }
  }

  &__navigation {
    &__prev2-button,
    &__next2-button {
      display: none;
    }

    &__next-button,
    &__arrow,
    &__label {
      border-radius: 0.5rem;
    }
  }

  &__tile {
    &[disabled] {
      background-color: $calendar-primary;
      color: $calendar-secondary;
    }

    &:hover {
      border-radius: 0.5rem;
    }

    &--active {
      background-color: $calendar-secondary !important; /* Overwriting styles of the react-calendar library */
      border-radius: 0.5rem;
      color: $regular-text;
    }

    &--now {
      border: 1px solid $regular-text !important; /* Overwriting styles of the react-calendar library */
      background-color: $calendar-secondary;
      color: $regular-text;

      &:hover {
        border-color: $regular-text;
        background-color: $calendar-secondary !important; /* Overwriting styles of the react-calendar library */
      }
    }
  }
}
